.container1 {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image {
     opacity:5; 
     -webkit-filter: brightness(20%);
    /*background-color: #000000;*/
}

.container1:hover .middle2 {
  opacity:5;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  margin: 0 1em 1em 0;
  display: inline-block;
}