/* Remove the navbar's default rounded borders and increase the bottom margin */ 

        html {
            position: relative;
            min-height: 100%;
        }

        body > .container {
            padding: 120px 15px;
            padding-bottom: 150px;
        }

        .middle {
            margin-top: 4%;
            overflow: auto;
        }

        .boxes {
            margin-bottom: 22px;
        }

        body {
            background-color: white;
        }

        .navbar {
          margin-bottom: 50px;
          border-radius: 0;
          background-color: #185ABB;
        }

        .navbar-inverse .navbar-brand {
            color: #FFFFFF;
        }

        .navbar-inverse {
            border-color: #185ABB;
        }
        
        /* Remove the jumbotron's default bottom margin */ 
         .jumbotron {
          margin-bottom: 0;
        }

        #footer-nav {
            background-color: #D2E9F7;
            bottom: 0;
            width: 100%;
            height: auto;
            padding-top: 15px;
            font-family: 'Open Sans', sans-serif;
        }

        [class*="coll-"] {
            float: left;
        }

        .coll-1-3 {
          width: 20%;
        }